<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>List Bank</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/styles/style.css}">
</head>
<body>

  <section class="hero is-warning is-align-items-flex-start is-flex-direction-row">
    <div class="hero-body container pl-0">
      <p class="title">
       Daftar Bank Provider
      </p>
    </div>
  </section>

  <div class="container">
    <section id="add-bank" class="mt-5 columns">
      <form method="post"  th:action="@{/bank/save}" th:object="${bankForm}" class="column is-5">
        <div class="field">
          <label class="label">Nama Bank</label>
          <div class="control">
            <input type="text" placeholder="Nama Bank" th:field="*{namaBank}" class="input" autocomplete="on" autofocus>
          </div>
          <p class="help is-danger" th:if="${#fields.hasErrors('namaBank')}" th:errors="*{namaBank}"></p>
        </div>
        <button type="submit" class="button is-link has-text-weight-bold">Tambah</button>
      </form>
    </section>


    <section id="list-bank" class="columns">
      <div class="table-bank column is-7">
        <table class="table is-bordered is-striped is-fullwidth">
          <tr>
            <th>Nama Bank</th>
          </tr>

          <tr th:if="${banks.size() == 0}">
            <td>Belum ada bank</td>
          </tr>

          <tr th:each="bank : ${banks}">
            <td th:text="${bank.namaBank}"></td>
          </tr>
        </table>
      </div>
    </section>

  </div>

</body>
</html>