<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>List Bank</title>
</head>
<body>

  <div class="container">
    <h2>List and add bank</h2>

    <section id="add-bank">
      <form method="post"  th:action="@{/bank/save}" th:object="${bankForm}">
        <input type="text" placeholder="Nama Bank" th:field="*{namaBank}">
        <p class="help is-danger" th:if="${#fields.hasErrors('namaBank')}" th:errors="*{namaBank}"></p>
        <br>
        <button type="submit">Tambah</button>
      </form>
    </section>


    <section id="list-bank">
      <table border="1">
        <tr>
          <td>Nama Bank</td>
        </tr>
        <tr th:each="bank : ${banks}">
          <td th:text="${bank.bank}"></td>
        </tr>
      </table>
    </section>

  </div>

</body>
</html>