<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>List Bank</title>
</head>
<body>

  <div class="container">
    <h2>List and add bank</h2>

    <section id="add-bank">
      <form method="post">
        <input type="text" placeholder="Nama Bank">
        <br>
        <button type="submit">Tambah</button>
      </form>
    </section>


    <section id="list-bank">
      <table>

      </table>
    </section>

  </div>

</body>
</html>