<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Tambah Nasabah</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/styles/style.css}">
</head>
<body>

  <section class="hero is-info is-align-items-flex-start is-flex-direction-row">
    <div class="hero-body container pl-0">
      <p class="title">
        Daftar Rekening Nasabah
      </p>
    </div>
  </section>


  <div class="container">
    <section id="list-nasabah" class="mt-5">
      <div class="table-bank column is-11">
        <table class="table is-bordered is-striped is-fullwidth is-narrow">
          <tr>
            <th>Nama Nasabah</th>
            <th>No Identitas</th>
            <th>Tipe Identitas</th>
            <th>Email</th>
            <th>Contact</th>
            <th>Bank</th>
            <th>No Rekening</th>
            <th>Aksi</th>
          </tr>

          <tr th:if="${rekeningsList.size == 0}" >
            <td colspan="8" class="has-text-centered">Belum ada data</td>
          </tr>

          <tr th:if="${rekeningsList.size > 0}" th:each="rek : ${rekeningsList}">
            <td th:text="${rek.nasabah.fullName}"></td>
            <td th:text="${rek.nasabah.noIdentitas}"></td>
            <td th:text="${rek.nasabah.tipeIdentitas}"></td>
            <td th:text="${rek.nasabah.email}"></td>
            <td th:text="${rek.nasabah.noContact}"></td>
            <td th:text="${rek.provider.namaBank}"></td>
            <td th:text="${rek.noRek}"></td>
            <td>
              <button class="button is-danger" th:onclick="deleteData('[[${rek.id}]]')">Delete</button>
              <a class="button is-warning" th:href="@{'/rekening/edit?id='+${rek.id}}">Edit</a>
            </td>
          </tr>

        </table>
      </div>
    </section>

  </div>

</body>
</html>