<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" class="has-background-light">
<head>
  <meta charset="UTF-8">
  <title>Transfer Dana</title>
  <link rel="stylesheet" th:href="@{/styles/style.css}">
</head>
<body>

  <div th:if="${message}" class="notification is-success is-light">
    <button class="delete"></button>
    <p th:text="${message}"></p>
  </div>

  <div th:if="${failed}" class="notification is-success is-danger">
    <button class="delete"></button>
    <p th:text="${failed}"></p>
  </div>

  <section class="hero is-link is-align-items-flex-start is-flex-direction-row">
    <div class="hero-body container pl-0">
      <p class="title">
        Transfer Dana
      </p>
    </div>
  </section>


  <main class="container">
    <section class="columns is-centered mt-5">
      <form th:action="@{/transfer/send}" method="post" class="column is-half box">

        <div class="field">
          <label class="label">No Rek Pengirim</label>
          <div class="control">
            <div class="select is-fullwidth">
              <select name="rekening">
                <option th:each="rekening: ${rekenings}"
                        th:field="${rekening.id}"
                        th:value="${rekening.id}"
                        th:text="${rekening.noRek}"></option>
              </select>
            </div>
          </div>
        </div>

        <div class="field">
          <label class="label">No Rek Penerima</label>
          <div class="control">
            <div class="select is-fullwidth">
              <select name="rekening2">
                <option th:each="rekening2: ${rekenings}"
                        th:field="${rekening2.id}"
                        th:value="${rekening2.id}"
                        th:text="${rekening2.noRek}"></option>
              </select>
            </div>
          </div>
        </div>

        <div class="field">
          <label class="label">Jumlah Dana</label>
          <div class="control">
            <input type="number" class="input"
                   placeholder="Jumlah nominal" th:field="${transfer.amount}" name="amount">
          </div>
          <p class="help is-danger" th:if="${#fields.hasErrors('transfer.amount')}" th:errors="*{transfer.amount}"></p>
        </div>

        <button type="submit" class="button is-link is-fullwidth mt-5 mb-2 has-text-weight-bold">Transfer</button>
        <a th:href="@{/transfer}" class="button is-outlined">Refresh</a>
      </form>
    </section>


    <section id="list-nasabah" class="mt-5">
      <div class="table-bank column is-11">
        <table class="table is-bordered is-striped is-fullwidth is-narrow">
          <tr>
            <th>Rekening Pengirim</th>
            <th>Rekening Penerima</th>
            <th>Amount</th>
            <th>Bank Asal</th>
            <th>Bank Tujuan</th>
            <th>Biaya Transfer</th>
          </tr>

          <tr th:each="tf : ${transferList}">
            <td th:text="${tf.rekPengirim.noRek}"></td>
            <td th:text="${tf.rekPenerima.noRek}"></td>
            <td th:text="${tf.amount}"></td>
            <td th:text="${tf.rekPengirim.provider.namaBank}"></td>
            <td th:text="${tf.rekPenerima.provider.namaBank}"></td>
            <td th:text="${tf.fee}"></td>
          </tr>

        </table>
      </div>
    </section>

  </main>

  <script src="/scripts/script.js"></script>
</body>
</html>